{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "localStorage": true,
    "document": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": true,
        "useTabs": false,
        "tabWidth": 2,
        "trailingComma": "none",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "singleQuote": true
      }
    ],
    "camelcase": "off",
    "react/no-array-index-key": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": "off"
  }
}