[Unit]
Description=SAT service
After=network.target

[Service]
User=sat
WorkingDirectory=/home/sat/github/sat/
Environment="PATH=/home/sat/.conda/envs/sat/bin/python"
ExecStart=/home/sat/.conda/envs/sat/bin/uwsgi --ini /home/sat/github/sat/uwsgi.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target