{% extends "base.html" %} {% block meta %} var audio_id = "{{ file_id }}" {%
endblock %} {% block content %}
<div class="container h-75 text-center">
  <div class="row h-100 justify-content-center align-items-center">
    {% if message %}
    <h1>{{ message }}</h1>
    {% else %}
    <div class="col-12">
      <h4>File ID: {{ file_id }}</h4>
    </div>
    <div class="w-100"></div>
    <div id="subtitle" class="col-12 text-center text-info"></div>
    <div id="waveform"></div>
    <div class="w-100"></div>
    <div class="col-3">
      <button class="btn btn-primary btn-block" id="skip-backward">
        <span>
          <i class="oi oi-media-skip-backward"></i>
          Backward
        </span>
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-block" id="playpause">
        <span>
          <i class="oi oi-media-play"></i>
          Play/
          <i class="oi oi-media-pause"></i>
          Pause
        </span>
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-block" id="skip-forward">
        <span>
          <i class="oi oi-media-skip-forward"></i>
          Forward
        </span>
      </button>
    </div>
    <div class="w-100 margin-top-bottom-5"></div>
    <div class="col-1">
      <span><i class="oi oi-zoom-out"></i></span>
    </div>
    <div class="col-3">
      <input
        id="zoomSlider"
        type="range"
        min="1"
        max="200"
        value="0"
        style="width: 100%"
      />
    </div>
    <div class="col-1">
      <span><i class="oi oi-zoom-in"></i></span>
    </div>
    <div class="col-12">
      <h3>Paragraph transcription</h3>
      <textarea
        rows="5"
        cols="70"
        placeholder="Transcription area; Please segment it before submitting"
        >{{ data.transcription }}</textarea
      >
    </div>
    <div class="w-100"></div>
    <form
      class="form-transcription"
      name="transcription"
      action=""
      method="post"
      novalidate
    >
      <div class="height-auto">
        <div class="hide" id="transcription-area">
          <h3>Segmented transcription</h3>
          {{ form.hidden_tag() }}
          <div class="form-row margin-top-bottom-5">
            <div class="col">
              <div class="form-row margin-top-bottom-5">
                {{ form.start_time(
                            class="form-control", type="text", required=True, disabled=True, placeholder="Start time"
                            )
                }}
              </div>
              <div class="form-row margin-top-bottom-5">
                {{ form.end_time(
                            class="form-control", type="text", required=True, disabled=True, placeholder="End time"
                            )
                }}
              </div>
            </div>
            <div class="col">
              {{ form.transcription(
                    class="form-control", rows="5", cols="50", placeholder="Transcription", type="text", required=True
                    )
              }}
              {% for error in form.transcription.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="col">
              {{ form.hinglish_transcription(
                    class="form-control", rows="5", cols="50", placeholder="Hinglish Transcription", type="text", required=True
                    )
              }}
              {% for error in form.hinglish_transcription.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="col">
              <div class="form-row margin-top-bottom-5">
                <button type="button" class="btn btn-primary" id="saveSegment">
                  Save
                </button>
              </div>
              <div class="form-row margin-top-bottom-5">
                <button type="button" class="btn btn-danger" id="deleteSegment">
                  Delete
                </button>
              </div>
            </div>
          </div>
          <div class="form-row margin-top-bottom-5">
            <div class="col">
              {{ form.speaker.label }}: {{ form.speaker() }}
            </div>
            <div class="col">
              {{ form.critical.label }}: {{ form.critical() }}
            </div>
            <div class="col">
              {{ form.relevance.label }}: {{ form.relevance() }}
            </div>
          </div>
          <div class="form-row margin-top-bottom-5">
            <div class="col">
              {{ form.topic.label }}: {{ form.topic() }}
              {{ form.other_topic(placeholder="Other topic") }}
            </div>
          </div>
        </div>
      </div>
      {{ form.marked_review() }} {{ form.marked_review.label }}
      {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
    {% endif %}
  </div>
</div>
{% endblock %} {% block custom_styles %}
<link
  href="{{ url_for('static', filename='css/player.css') }}?v={{ version }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='css/annotation.css') }}?v={{ version }}"
  rel="stylesheet"
/>
{% endblock %} {% block custom_libs %}
<script src="https://unpkg.com/wavesurfer.js@3.1.0/dist/wavesurfer.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js@3.1.0/dist/plugin/wavesurfer.regions.js"></script>
<script src="https://unpkg.com/wavesurfer.js@3.1.0/dist/plugin/wavesurfer.minimap.js"></script>
{% endblock %} {% block custom_scripts %}
<script src="{{ url_for('static', filename='js/annotation.js') }}?v={{ version }}"></script>
{% endblock %}
