{% extends "base.html" %}

{% block meta %}
var audio_path = "{{ session['file'] }}"
{% endblock %}

{% block content %}
  <div class="container h-75 text-center">
    <div class="row h-100 justify-content-center align-items-center">
      {% if message %}
      <h1>{{ message }}</h1>
      {% else %}
      <div id="waveform"></div>
      <div class="w-100"></div>
      <div class="col-3">
          <button class="btn btn-primary btn-block" data-action="play">
              <span id="skip-backward">
                  <i class="oi oi-media-skip-backward"></i>
                  Backward
              </span>
          </button>
      </div>
      <div class="col-3">
          <button class="btn btn-primary btn-block" data-action="play">
              <span id="play">
                  <i class="oi oi-media-play"></i>
                  Play
              </span>

              <span id="pause" style="display: none">
                  <i class="oi oi-media-pause"></i>
                  Pause
              </span>
              
          </button>
      </div>
      <div class="col-3">
          <button class="btn btn-primary btn-block" data-action="play">
              <span id="skip-forward">
                  <i class="oi oi-media-skip-forward"></i>
                  Forward
              </span>
          </button>
      </div>
      <div class="w-100"></div>
      <form class="form-transcription" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.transcription(
          class="form-control", rows="10", cols="80", placeholder="Transcription", type="text", id="transcriptionPassword", required=True) }}
        {% for error in form.transcription.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
      </form>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block custom_styles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
{% endblock %}

{% block custom_scripts %}
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}
