{% extends "base.html" %}

{% block content %}
  <div class="container h-75 text-center">
    <div class="row h-100 justify-content-center align-items-center">
      <form class="form-login" action="" method="post">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        
        <label for="loginEmail" class="sr-only">{{ form.email.label }}</label>
        {{ form.email(class="form-control", placeholder="Email Address", type="email", id="loginEmail", required=True, autofocus=True) }}
        {% for error in form.email.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <label for="loginPassword" class="sr-only">{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder="Password", type="password", id="loginPassword", required=True) }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div>
          {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
      </form>
    </div>
  </div>
{% endblock %}

{% block custom_styles %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

